.ImageFond {
  background: url("../../assets/ponpoko1.jpg") no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
textarea {
  width: 100%;
}
