/** Body et fond d'écran */
.fondEcran { background: url("./assets/ghibli7.jpg") no-repeat center center fixed; background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** Pour les inputs en général */
.pleineLargeur { width: 100%; }

// Tout est commun. Donc tout est là :

/* Pour la marge entre les boutons et leur taille */
button { margin-left: 30px!important; width: 40px; height: 40px; font-size: 40px!important; }

/* Pour limiter la taille d'une carte */
.mat-card-title { margin-bottom: 0px!important; }
.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) { margin-top: 0px!important; }
.mat-card-actions, .mat-card-subtitle, .mat-card-content { margin-bottom: 0px!important; }
.mat-card-actions { padding: 0px!important; }

/* Pour mettre les actions à droite du titre */
@media (min-width: 576px) {
    .actionsAlignees { float: right; margin-top: -30px; }
}
@media (max-width: 576px){
    .actionsAlignees { text-align: right; }
}

/* POur séparer les cartes */
.avecBordure { border-bottom: solid 1px lightgray; }

/* Pour que les input soient de la même hauteur */
.mat-form-field-infix { height: 52px!important; }
input { height: 32px!important; }
