.titreApplication {
  font-size: 40px;
  min-height: 40px;
  line-height: 40px;
  font-weight: bold;
  margin: auto 0;
  text-align: center;
}
.TransparenceFondEcran {
  background-color: #ffffff80;
}

.LogoFondEcran {
  width: 100%;
}
